/*  Спецификация  */
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../HelveticaNeueCyr-Bold.eot'); /* IE9 Compat Modes */
	src: url('../HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../HelveticaNeueCyr-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../HelveticaNeueCyr-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		url('../HelveticaNeueCyr-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../HelveticaNeueCyr-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../HelveticaNeueCyr-Bold.eot'); /* IE9 Compat Modes */
	src: url('../HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../HelveticaNeueCyr-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../HelveticaNeueCyr-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		url('../HelveticaNeueCyr-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../HelveticaNeueCyr-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: bold;
}

body {
	font-size: 18px;
	font-weight: normal;
}

* {
  box-sizing: border-box;
}

button,
button:hover,
button:focus {
	font-family: inherit;
	outline: none;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #242f51;
	line-height: 1.2em;
}

p {
	color: #616368;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

a {
	color: #2500f9;
}

a:hover {
	text-decoration: none;
}

.btn {
	border-radius: 29px;
	background-color: #2500f9;
	color: #fff;
	font-weight: bold;
	padding: 17px 0;
	display: block;
	width: 170px;
	text-align: center;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #5100ff;
	color: #fff;
	box-shadow: 0 8px 20px rgb(37 0 249 / 25%);
}

.btn:active {
	background: #1c00bf;
	box-shadow: none
}

.section-title__heading {
	font-size: 36px;
	margin-bottom: 15px;
}

.app-screen, .design-img {
	transition: all 0.5s ease;
}

section:hover .app-screen,
header:hover .app-screen,
section:hover .design-img {
	transform: scale(1.02) ;
	-webkit-transform: scale(1.02) ;
	-moz-transform: scale(1.02) ;
}

.visability-hidden {
	position: fixed;
	right: 200vW;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.header {
	position: relative;
	padding-top: 50px;
	background: url('../img/mountain.jpg')no-repeat center top / cover;
	padding-bottom: 380px;
}

.third-child {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.second-child {
	display: flex;
	justify-content: center;
}

.header-menu	{
	display: flex;
	align-items: center;
}

.button-icon-menu {
	background-color: transparent;
	margin-left: 25px;
}

.menu-item-button {
	margin-left: 25px;
	background: #267df4;
	color: #fff;
	width: 130px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
}

.menu-item-button:before {
	content: "";
	display: inline-block;
	background-image: url('../img/apple-icon.svg');
	width: 17px;
	height: 20px;
	margin-right: 10px;
}

.menu-item-button:hover {
	color: #fff;
}

.menu-item-link {
	color: #26272d;
	font-size: 16px;
	font-weight: 400;
}

.menu-item-link:hover {
	color: #a7afbd;
}

.menu-item-link:active {
	color: #a7afbd;
}

.menu-item:not(:last-child) {
	margin-right: 30px;
}

.button {
	display: flex;
	width: 170px;
	position: relative;
	padding: 10px 0;
	border-radius: 30px;
	background-color: #267df4;
	justify-content:space-around;
	color: #ffffff;
	transition: background-color 0.5s ease;
	cursor: pointer;
}

.header-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 200px;
	padding: 11px 0;
	margin: 0 auto;
	border-radius: 30px;
	background-color: transparent;
	border: 1px solid #000 !important;
	cursor: pointer;
	background: none;
}

.second-child {
	display: flex;
	justify-content: center;
}

.center-box {
	margin: 132px auto 50px;
	max-width: 800px;
}

.main-title {
	text-align: center;
	max-width: 100%;
	font-size: 62px;
	color: #26272d;
}

.subtitle-text {
	margin: 0 auto 50px;
	max-width: 100%;
	text-align: center;
}

.mobile-phone {  
	margin: 0 auto;
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
}

.content-1 {
	position: relative;
	padding-top: 200px;
	z-index: 20;
	background: white;
}

.content-3 {
	padding-bottom: 40px;
}

.box-title {
	margin-top: 40px;
	margin-bottom: 40pX;
}

.cell {
	display: block;
}

.content-title {
	font-size: 42px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.box-emblem {
	margin-top: 60px;
	margin-bottom: 60px;
}

.content-pic-title {
	margin-top: 30px;
	margin-bottom: 30px;
}

.box-button {
	margin-top: 40px;
}

.box-emblem {
	margin-top: 40px;
}

.online-map {
	display: block;
	margin-left: -15px;
	margin-right: -15px;
	width: 100%;
}

.img-mobile {
	width: 100%;
	display: block;
}

.button {
	border-radius: 20px;
}

.button-hack {
	display: flex;
	width: 190px;
	position: relative;
	margin-left: 15px;
	padding: 10px;
	border-radius: 30px;
	background-color: #267df4;
	justify-content: center;
	color: #ffffff;
}

.button-arrows {
	display: block;
	margin-top: 5px;
	width: 15px;
	height: 15px;
	margin-left: 30px;
}

.button-learn {
	color: #7a7b7f;
	border: 1px solid #7a7b7f;
	justify-content: center;
	display: flex;
	width: 170px;
	margin-left: 15px;
	padding: 10px 0;
	border-radius: 20px;
}

.footer {
	color: black;
	padding-bottom: 30px;
}

.under-logo {
	margin-top: 20px;
}

.footer-big-title,
.footer-title {
	margin-top: 10px;
	margin-bottom: 15px;
}

.footer-text {
	color: #8c8f94;
}

.footer-box {
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer-logo {
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;
}

@media (max-width: 1190px) {
	.header {
		padding-bottom: 370px;
	}

	.menu-col-item {
		display: block;
		width: 100%;
	}
}

@media (max-width: 991px) {
	.header {
		padding-bottom: 370px;
	}		
	.button-icon-menu {
		display: block;
		background-color: transparent;
	}

	.icon-menu {
		opacity: 1;
		display: block;
	}
	
	.footer .col-lg-5 {
		width: 50%;
	}



}

@media (max-width: 757px) {

	.first-row {
		padding-left: 0;
	}

}

@media (max-width: 450px) {
	.header {
		padding-bottom: 370px;
	}
	.first-row {
		flex-wrap: wrap;
	}

	.logo-img {
		display: block;
		width: 50%;
		margin: 10px auto;
	}
	.menu-item-button {
		margin: 0 auto;
	}
}

@media (max-width: 390px) {
	header {
		padding-bottom: 150px;
	}

	.content-1 {
		z-index: 20;
	}

	.main-title {
		font-size: 42px;
	}

	.mobile-phone {
		transform: scale();
	}


}

@media (max-width: 280px) {

}