/*  Спецификация  */
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../HelveticaNeueCyr-Bold.eot'); /* IE9 Compat Modes */
	src: url('../HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../HelveticaNeueCyr-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../HelveticaNeueCyr-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		url('../HelveticaNeueCyr-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../HelveticaNeueCyr-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
}
/
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../HelveticaNeueCyr-Bold.eot'); /* IE9 Compat Modes */
	src: url('../HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../HelveticaNeueCyr-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../HelveticaNeueCyr-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		url('../HelveticaNeueCyr-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../HelveticaNeueCyr-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: bold;
}

body {
	font-size: 18px;
	font-weight: normal;
}

button,
button:hover,
button:focus {
	font-family: inherit;
	outline: none;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #242f51;
	line-height: 1.2em;
}

p {
	color: #616368;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

a {
	color: #2500f9;
}

a:hover {
	text-decoration: none;
}

.btn {
	border-radius: 29px;
	background-color: #2500f9;
	color: #fff;
	font-weight: bold;
	padding: 17px 0;
	display: block;
	width: 170px;
	text-align: center;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #5100ff;
	color: #fff;
	box-shadow: 0 8px 20px rgb(37 0 249 / 25%);
}

.btn:active {
	background: #1c00bf;
	box-shadow: none
}

.section-title__heading {
	font-size: 36px;
	margin-bottom: 15px;
}

.app-screen, .design-img {
	transition: all 0.5s ease;
}

section:hover .app-screen,
header:hover .app-screen,
section:hover .design-img {
	transform: scale(1.02) ;
	-webkit-transform: scale(1.02) ;
	-moz-transform: scale(1.02) ;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

/*	header	*/
.header {
	padding-top: 50px;
	background:url('../img/Image.png')no-repeat center bottom, url('../img/mountain.jpg')no-repeat center top / cover;
	padding-bottom: 536px;
}

.menu-item:not(:last-child) {
	margin-right: 20px;
}

.menu-item-button {
	padding-top: -7.5px;
	margin-left: 20px;
}

.button-icon-menu {
	display: none;
}

.button {
	display: block;
	width: 134px;
	position: relative;
	border-radius: 30px;
	padding-top: 7.5px;
	padding-left: 38px;
	background-color: #267df4;
	text-align: center;
	transition: all 0.5s ease;
}

.button:before {
	position: absolute;
	content: '';
	top: 7.5px;
	left: 10px;
	width: 45px;
	height: 25px;
	background-image: url('../img/apple-icon.svg');
	background-repeat: no-repeat;
	background-position-x: 0;
	background-position-y: 50%;
}

.menu-item-button__link {
	color: #ffffff;
}

.center-box {
	margin: 0 auto 50px;
	margin-top: 100px;
	max-width: 600px;
}

.main-title {
	text-align: center;
	width: 100%;
	text-align: center;
}

.subtitle-text {
	margin: 0 auto 50px;
	width: 100%;
	text-align: center;
}

.header-btn {
	display: block;
	position: relative;
	width: 200px;
	padding-left: 40px;
	margin: 0 auto;
	border-radius: 30px;
	background-color: transparent;
	border: 1px solid #000;
}

.header-btn:after {
	position: absolute;
	top: 15px;
	left: 15px;
	background-image: url('../img/play-icon.svg');
}

.tel-img {
	display: block;
	margin: 0;
}


.real-time {
	padding-top: 130px;
}

.col-6-img {
	width: 100%;
	height: 570px;
	background-image: url('../img/big-telephone.png');
	background-repeat: no-repeat;
	background-position: cover;
}

.d-flex {
	flex-wrap: wrap;
	padding: 0;
}

.row {
	margin: 0;
	padding: 0;
}

.col-md-12 {
	margin: 0;
	padding: 0;
}

.col-lg-2,
.col-lg-8,
.col-md-2,
.col-md-8 {
	padding: 0;
}

.col-map {
	width: 100%;
}
.map-img {
	width: 100%;
}


@media (max-width: 660px){
	.footer-item-text {
		width: 100%;
	}
}

@media (min-width: 575px) {
	.col-md-12 {
		padding: 0;
		width: 100%;
	}

	.footer-list-text {
		width: 100%;
	}

	.col-md-2,
	.col-md-6 {
		width: 50%;
		padding: 0;
	}
}