/*  Спецификация  */
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../HelveticaNeueCyr-Bold.eot'); /* IE9 Compat Modes */
	src: url('../HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../HelveticaNeueCyr-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../HelveticaNeueCyr-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		url('../HelveticaNeueCyr-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../HelveticaNeueCyr-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../HelveticaNeueCyr-Bold.eot'); /* IE9 Compat Modes */
	src: url('../HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../HelveticaNeueCyr-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../HelveticaNeueCyr-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		url('../HelveticaNeueCyr-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../HelveticaNeueCyr-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: bold;
}

body {
	font-size: 18px;
	font-weight: normal;
}

* {
  box-sizing: border-box;
}

button,
button:hover,
button:focus {
	font-family: inherit;
	outline: none;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #242f51;
	line-height: 1.2em;
}

p {
	color: #616368;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

a {
	color: #2500f9;
}

a:hover {
	text-decoration: none;
}

.btn {
	border-radius: 29px;
	background-color: #2500f9;
	color: #fff;
	font-weight: bold;
	padding: 17px 0;
	display: block;
	width: 170px;
	text-align: center;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #5100ff;
	color: #fff;
	box-shadow: 0 8px 20px rgb(37 0 249 / 25%);
}

.btn:active {
	background: #1c00bf;
	box-shadow: none
}

.section-title__heading {
	font-size: 36px;
	margin-bottom: 15px;
}

.app-screen, .design-img {
	transition: all 0.5s ease;
}

section:hover .app-screen,
header:hover .app-screen,
section:hover .design-img {
	transform: scale(1.02) ;
	-webkit-transform: scale(1.02) ;
	-moz-transform: scale(1.02) ;
}

.visability-hidden {
	position: fixed;
	right: 200vW;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.header {
	padding-top: 50px;
	background: url('../img/phone.png')no-repeat 50%  320%, url('../img/mountain.jpg')no-repeat center top / cover;
	padding-bottom: 510px;
}

.menu-item-link {
	color: #26272d;
	font-size: 16px;
	font-weight: 400;
}

.menu-item-link:hover {
	color: #a7afbd;
}

.menu-item-link:active {
	color: #a7afbd;
}

.menu-item:not(:last-child) {
	margin-right: 20px;
}

.button {
	display: flex;
	width: 170px;
	position: relative;
	margin-left: 15px;
	padding: 10px 0;
	border-radius: 30px;
	background-color: #267df4;
	justify-content: center;
	color: #ffffff;
	transition: background-color 0.5s ease;

}

.button:before {
	position: absolute;
	content: '';
	top: 10px;
	left: 10px;
	width: 22px;
	height: 24px;
	background-image: url('../img/icon.svg')no-repeat center top;
	background-color: black;
	
}

.header-btn {
	display: block;
	position: relative;
	width: 200px;
	margin: 0 auto;
	border-radius: 30px;
	background-color: transparent;
	border: 1px solid #000;
}

.center-box {
	margin: 0 auto 50px;
	max-width: 600px;
}

.main-title {
	text-align: center;
	max-width: 100%;
}

.subtitle-text {
	margin: 0 auto 50px;
	max-width: 100%;
	text-align: center;
}

.content-1 {
	padding-top: 200px;
}

.content-3 {
	padding-bottom: 40px;
}

.box-title {
	margin-top: 40px;
	margin-bottom: 40pX;
}

.cell {
	display: block;
}

.content-title {
	font-size: 42px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.box-emblem {
	margin-top: 60px;
	margin-bottom: 60px;
}

.content-pic-title {
	margin-top: 30px;
	margin-bottom: 30px;
}

.box-button {
	margin-top: 40px;
}

.box-emblem {
	margin-top: 40px;
}

.online-map {
	width: 100%;
}

.img-mobile {
	width: 100%;
	display: block;
}

.button {
	border-radius: 20px;
}

.button-hack {
	display: flex;
	width: 190px;
	position: relative;
	margin-left: 15px;
	padding: 10px;
	border-radius: 30px;
	background-color: #267df4;
	justify-content: center;
	color: #ffffff;
}

.button-arrows {
	display: block;
	margin-top: 5px;
	width: 15px;
	height: 15px;
	margin-left: 30px;
}

.button-learn {
	color: #7a7b7f;
	border: 1px solid #7a7b7f;
	justify-content: center;
	display: flex;
	width: 170px;
	margin-left: 15px;
	padding: 10px 0;
	border-radius: 20px;
}

.footer {
	color: black;
	padding-bottom: 30px;
}

.footer-big-title,
.footer-title {
	margin-top: 10px;
	margin-bottom: 15px;
}

.footer-text {
	color: #8c8f94;
}

.footer-box {
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer-logo {
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;
}

@media (max-width: 991px) {
	.header {
		padding-top: 50px;
		background: url('../img/phone.png')no-repeat 50%  350%, url('../img/mountain.jpg')no-repeat center top / cover;
	}

	.menu-item {
		opacity: 0;
		display: none;
	}

		
	.button-icon-menu {
		display: block;
		background: url('../img/icon-menu.png');
	}

	.icon-menu {
		opacity: 1;
		display: block;
	}
	
	.footer .col-lg-5 {
		width: 50%;
	}
}

@media (max-width: 450px) {
	.header {
		padding-top: 50px;
		background: url('../img/phone.png')no-repeat 50%  250%, url('../img/mountain.jpg')no-repeat center top / cover;
  }


}